@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";

}
<section><img src="~/css/Chair.png" alt="Chair" height="300" width="500"/></section>
<h1>About Us</h1>
<p> KDK Chairs was established in 1920 at the base camp of the mountains in Tibet. With four board members Sanduk Ruit, Ful Prasad Dhakal, Kul Prasad Khanal and Bishnu Koirala, they established a little store with the few wooden chairs and couchs. 
    But today the market valye of the KDK chairs is worth more than a million which suppplies its goods internationally.</p>
<h2> Alumini </h2>
<P>In the year 2019, the next generation of the OG board of directors family over took the family business. So as of now the kdk chairs have 8 board of directors: Malya Husain, Taarak Mehta, Yusuf Ali,
Mohammad Siraj, Virat Kohli, Shehnaaz Gill and Priyanka Chaudary.</P>
<h2> Production</h2>
<p>KDK Chairs produce more than 100 differnet kind of Chairs per day as of end of the year 2021. They produce quality products whuch are desirable worldwide. </p>
<h2> Corparate Headquarters</h2>
<ul>
    <li>Ottawa <br />
    <p>450 Mainvoix Street,ON, CA</p></li>
    <li>New York <br/>
    <p>780 Block Main Building, NYC</p></li>
    <li>Tokyo<br/>
    <p>766 Horbough Ave, TY</p></li>

</ul>