@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KDK Chairs</h1>
  
</div>
<section>
    <a class="nav-link text-dark" asp-area="" asp-controller="Chairs" asp-action="Index"  >CLICK HERE TO VIEW OUR ITEMS</a>
</section>

<section>
    <img src="~/css/Chair.png" alt="Chairs" height="500" width="900"/>
</section>